{% extends "base.html" %}
{% load static%}
{% block myblock %}

<div class="row align-items-left p-4" style="background: url(/static/image/b1.jpg);">
           <div class="col-md-6 text-white ">
             <h2>About</h2>
           </div>
           <div class="col-md-6 ">
            <ol class="breadcrumb justify-content-md-end" style="background: url(/static/image/b1.jpg);">  
              <li class="breadcrumb-item ">
                <a class="text-white" href="{% url 'home' %}">Home</a>
              </li> 
              <li class="breadcrumb-item">
                <a class="text-white" href="#"> Elements</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-white" href="{% url 'aboutus' %}"> About us</a>
              </li>
            </ol>
           </div>
         </div>
        </div> 
      </div>
       
      <section class="padding-y-100 border-bottom mt-5">
        <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 mb-4 ">
            <img src="{% static 'image/3.jpg' %}" alt="">

          </div>
    
            <div class="col-lg-5 mb-4 mr-auto">
                 <h2>   <span class="text-success">Who</span> We Are
                </h2>
                <div class="width-4rem height-4 rounded mt-4 marginBottom-40">
                <p class="mb-5">
                We are developing websites which are responsive to every type of devices. we also developing the wedsites application as per the requirements of the user. we softwarewe very easy to use and Modern technology is used any age group persone use our sites becuse these are easy to learing , easy to understaning.</p>
                    <p>✔️ Professional and easy to use software</p>
                   <p> ✔️ Setup and installations takes 30 seconds</p>
                    <p> ✔️ Perfect for any device with pixel perfect design</p>
                    <p> ✔️ Setup and installations really really fast</p>
                  
                    
                        
            </div> <!-- END col-lg-6 ml-auto-->
        </div> <!-- END row-->
        </div> <!-- END container-->
       </section>
        <section class="padding-y-100">
        <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h2>
              <span class="text-success"> What</span> We offer
            </h2>
            <div class="width-4rem height-4 bg-success rounded mt-4 marginBottom-60"></div>
            <p class="mb-5">
              Using fun games, discussion, and other tools youth learn how to identify and communicate sexual boundaries and learn why asking for consent and challenging gender stereotypes is key to creating positive and equal relationships.            </p>
            <div class="media mb-4">
              <i class="fas fa-user text-success  fa-2x mt-2"></i>
              <div class="media-body pl-3">
                <h4 class="h5">Work With Any Team</h4>
                <p>
                  The successful candidate will work directly with clients to ensure deliverables fall within the applicable scope and budget. He or she will coordinate with other departments to ensure all aspects of each project are compatible and will hire new talent as needed to fulfill client needs.                </p>
              </div>
            </div>
            <div class="media mb-4">
              <i class="fas fa-cloud text-success fa-2x mt-2"></i>
              <div class="media-body pl-3">
                <h4 class="h5">A Productivity Platform</h4>
                <p>
                  Productivity tools, platforms and apps have already transformed our private lives: The touch of a button locks doors and smart assistants order our groceries. But recently, developers have recognized that our need for personalized and frictionless experiences extends into the workplace.                </p>
              </div>
            </div>
          </div> <!-- END col-lg-6 ml-auto-->
          <div class="col-lg-5 mb-4 mr-auto text-center">
            <img class="wow fadeInRight w-100 rounded" src="{% static 'image/girls.jpg' %}" alt="" height="300px">
          </div> 
        </div> <!-- END row-->
        </div> <!-- END container-->
       </section>
       
       <section class="padding-y-100 bg-light">
          <div class="container p-5 py-5 mx-auto">
            <div class="row align-items-center">
              <div class="col-12 text-center">
                <h2 class="text-dark">
                 Unique Features
                </h2>
                <div class="width-4rem height-4 bg-success rounded mt-4 marginBottom-40p mx-auto"></div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-infinity  fa-2x"></i>
                 </span>
                  <h5 class="my-4 text-dark">
                    Excellent Features
                  </h5>
                  <p>python supports both procedure-oriented and bojcts oriented prgoraming which is one of the key python features. It also supports multiple inheritances, unlike java.                   </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-cloud  fa-2x"></i>
                 </span>
                  <h5 class="my-4 text-dark">
                    Creative Ideas
                  </h5>
                  <p>
Help people learn new skills, advance there careers , and exploore there hobbies and new ideas by sharing knowledge.                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-globe  fa-2x"></i>
                 </span>
                  <h5 class="my-4 text-dark">
                    Clean Code
                  </h5>
                  <p>
                    We will disscussess some genral code cleaning guidelines that aren't exclusively applicableto Python, including naming conventions and progeamming 
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="far fa-bell  fa-2x"></i>
                 </span>
                  <h5 class="my-4 text-dark">
                    Fully Responsive

                  </h5>
                  <p>
                    The website is fully Responsive .User can use this site on mobile, tablet and parsonal computers. There any aged person use this wedsite. This is helpful for all aged persons.
                  </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="fas fa-shopping-bag  fa-2x"></i>
                 </span>
                  <h5 class="my-4 text-dark">
                    Modern Design
                  </h5>
                  <p>
                    This website providing Modern design to user. this designs are changing there fonts and styles automaticllay in your system. that gives the Modernand stylish look to the wedsite. 
                   </p>
               </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-1 py-5 ">
               <div class="card height-100p text-center p-5 shadow shadow-lg">
                <span class=" bg-light mx-auto">
                   <i class="far fa-file-alt  fa-2x"></i>
                 </span>
                  <h5 class="my-4 text-dark">
                    Extensive Documentation

                  </h5>
                  <p>
                    Extensions are small software programs that customize the browsing experience. They are built on web technologies such as HTML, JavaScript, and CSS.
                  </p>
               </div>
              </div>
         </div> <!-- END row-->
          </div> <!-- END container-->
       </section>
     <section class="padding-y-100 wow fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h2>
             The Executive Team
            </h2>
            <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
          </div>
      <div class="col-lg-6 mt-2 wow fadeInUp">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="{% static 'image/c6.1.jpg' %}" height="230px">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Sandeep
                </h4>
                <p class="text-muted mb-0">
                    Founder &amp; CEO
                </p>
                <p class="my-4">
                  creating many wedsites and softweres. <br>
                  Also working for degital projects <br>
                  The CEO of the company. 
                </p> <ul class="list-inline">
                    
   <li class="list-inline-item">
    <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
         </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                </ul>
        </div>
            </div>
          </div>
          <div class="col-lg-6 mt-2 wow fadeInUp">
            <div class="row">
              <div class="col-md-6 my-2">
                <img class="" src="{% static 'image/c6.3.jpg' %}" height="300px" width="100%">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Simarjit
                </h4>
                <p class="text-muted mb-0">
                    Senior Developer
                </p>
                <p class="my-4">
                  she is manageing all the work of developing teams. best of the best websites and softwares are developing by this team 
                 </p>
                <ul class="list-inline">
                    
                        <li class="list-inline-item">
                          <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                        </li>
                      </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-2 wow fadeInUp">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="{% static 'image/7.jpg' %}" height="300px" width="100%">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
                    Lovedeep
                </h4>
                <p class="text-muted mb-0">
                    Designer
                </p>
                <p class="my-4">
                   The design of every softwere and application is done by design team . The design choice according to the   
                </p><ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                </ul>
                              </div>
            </div>
          </div>
    
          <div class="col-lg-6 mt-2 ">
            <div class="row">
              <div class="col-md-6 my-2">
                <img src="{% static 'image/4.jpg' %}" height="300px" width="100%">
              </div>
              <div class="col-md-6 my-4">
                <h4 class="mb-0">
               Sandeep Kaur
                </h4>
                <p class="text-muted mb-0">
                    Creative Developer
                </p>
                <p class="my-4">
                  The design of every softwere and application is done by design team . The design choice according to the   

                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="" class="btn btn-facebook  text-primary"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-twitter iconbox iconbox-xs text-dark "><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-google-plus iconbox iconbox-xs text-danger"><i class="fab fa-google fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-linkedin iconbox iconbox-xs text-info"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                </ul>
              </div>
              
            </div>
          </div>
          </div> <!-- END row-->
      </div> <!-- END container-->
    </section>
       <section class="padding-y-100 bg-light">
        <div class="container">
            <div class="row">			
            <div class="col-12 text-center mt-5">
                <h2 class="h1">
                    Why We are the <span class="text-success">Best</span>
                    <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
                </h2>
            </div>
                <div class="col-lg-6 mt-4 pr-lg-5">
                    <p class="mb-4">
                      we are provide the best material for studying about the python programing .This material easy to understaning , learning and this is provide by our best instructors . All the emailing image and documentations are profile via mails nd PFDs. 
                     </p>
                    <p class="list-unstyled list-style-icon list-icon-check-circle">
                        <li>
                            Listen to Social Conversations
                        </li>
                        <li>
                            Performance Analyze
                        </li>
                        <li>
                            A Productivity Platform
                        </li>
                        <li>
                            Work With Any Team
                        </li>
                    </p>
                </div> <!-- END col-lg-6-->
                <div class="col-md-6 mt-4">
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>HTML &amp; CSS</p>
                      <p>90%</p>
                     </div>
<div class="progress" style="height:4px"> <div class="progress-bar bg-primary" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                    </div>
                  </div>
    
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>React angular</p>
                      <p>75%</p>
                     </div>
                    <div class="progress" style="height:4px">
<div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
    
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>PHP</p>
                      <p>80%</p>
                     </div>
                    <div class="progress mb-4" style="height:4px">
  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
    
                  <div class="mb-4">
                     <div class="d-flex justify-content-between">
                      <p>Laravel</p>
                      <p>75%</p>
                     </div>
                    <div class="progress mb-4" style="height:4px">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>    
                </div>
            </div> <!-- END row-->
        </div> <!-- END container-->
    </section>
       
       
       <section class="padding-y-100 bg-primary wow fadeIn">
      <div class="container">
        <div class="row">
        
         
          <div class="container-fluid bg-success">
            <div class="row bg-white">
            
            
            <div class="col-md-12  mb-5 text-center text-black">
              <h2 class="mt-4">What Our People Say
              </h2>
              <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;">
              </div>
            </div>
            <div class="col-md-12 text-center" style="width:690px; padding-bottom: 150px;">
              <div class="carousel slide" data-ride="carousel" id="caro">
                   <!-- <ul class="carousel-indicators"> 
                      <li data-target="caro" data-slide-to="0" class="active"></li>
                      <li data-target="caro" data-slide-to="1"></li>
                      <li data-target="caro" data-slide-to="2"></li>
                   </ul>  -->
                 <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'image/c6.1.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
                        <h4 class="mt-4 font-primary">Annu</h4>
                        <p class="mt-4" style="font-size:large">student</p>
                        <p class=" " style="text-align:center;font-size:x-large ">
                        I've been out of college for about two years, Educati has changed</br> my outlook on my career. Taking the foundational courses in</br> marketing has helped me launch my career.</p>
                    </div>
                    <div class="carousel-item">
                     <img class="mx-3" src="{% static 'image/c6.3.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
                     <h4 class="mt-4 font-primary">Harshita</h4>
                     <p class="mt-4" style="font-size:large">student</p>
                     <p class=" " style="text-align:center;font-size:x-large">
                     I've been out of college for about two years, Educati has changed </br>my outlook on my career. Taking the foundational courses in</br> marketing has helped me launch my career.</p>
                    </div>
                    <div class="carousel-item">
                     <img src="{% static 'image/c6.3.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
                     <h4 class="mt-4 font-primary">Pawandeep</h4>
                     <p class="mt-4" style="font-size:large">student</p>
                     <p class=" " style="text-align:center;font-size:x-large ">
                     I've been out of college for about two years, Educati has changed</br> my outlook on my career. Taking the foundational courses in</br> marketing has helped me launch my career.</p>
                    </div>
                  </div>
                  </div>
                  </div>
               
            </div>
            
          </div> <!-- END col-12 -->
        </div>  <!-- END row--> 
      </div> <!-- END container-->
 {% endblock %}