{% extends "dash_board.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<div class="container-fluid" style="background:url(/static/image/b1.jpg);background-size: 100% 100%;">
    <div class="row ">
        <div class="col-md-6 mx-auto text-white">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <h1>Add Courses</h1>
            <div class="form-group">
            {% bootstrap_form form %}
          <input type="submit" value="add courses" class="btn btn-primary mb-6">
            </div> 
               
        </form>
            </div>
    </div>
</div>
</div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/instruction"
</script>

{% endif %}
{% endblock %}