{% extends "base.html" %}
{% load static%}
{% block head %}
    <style>
        .bg{
            background: url("/static/image/c1.3.jpg"); 
        }
       .inside{
            position: absolute;width: 70%;height: 30%;
        }
        .out{
            position: relative;margin-left: 65%;margin-top: 2.5px;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        .myimg:hover
          {height: 100px; color: black;}
        .hover:hover
        { box-shadow: 0px 0px 10px black;}
        </style>
{% endblock %}
{% block myblock%}
<div class="container-fluid">
       <div class="row text-white" style="background: url(/static/image/c1.3.jpg); padding: 50px 0px;background-size: 100% 100%;">
            <div class="col-md-6 px-5">
                <p>Home &gt;&gt; Courses &gt;&gt; All Courses</p>
                {% if abcd %} 
                <h1>Total course found ({{courses|length}})</h1>
                {% else %} 
                <h1>All courses Grid ({{courses|length}})</h1>
                {% endif %}

                </div>
               <div class="col-md-3 mt-5">
                        
                      <form class="var"> 
                        {% csrf_token %}
                        
                        <!---<input type="text" name="price"placeholder="search by price">-->
                      
                    
                        <input type="text" name="qury" placeholder="Search by name"style="padding:8px; position:absolute ;width:80%"> 
                    
                        <button class="z">Search</button>
                    </div>

                    </form>
                    </div>
                <!---<input type="text" placeholder="Search by name" class="form-control inside" >
            
                <button type="submit" class="btn btn-primary out">Search &gt;</button>-->
        </div>
        

    <div class="container-fluid" style="background:ivory;">
        <div class="row">
            <div class="col-md-6 my-5">
                <select class="form-control" style="display: inline-block; width: 35%;">

                    {% for c in course %}
                        <h5>SELECT CATEGORY</h5>
                        <option> {{c.cat_name}}</option>                                
                        
                    {% endfor %}
                
                </select>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>FILTERS</option>
                    <option>BEST SELLING</option>
                    <option>TRENDING</option>
                    <option>NEWEST</option>
                    <option>TOP RATED</option>
                    <option>HIGH PRICE</option>
                    <option>LOW PRICE</option>
                    </select>
                   
                </div>
            <div class="col-md-6 my-5 mx-auto">
                <div>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                        <option>ITEM PER PAGE</option>
                        <option>4</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>24</option>
                    </select>
                       <div class="form-control" style="display: inline-block; width: 15%;">
                        <i class="fas fa-th-large"></i> <i class="fas fa-bars"></i>
                        </div>
                    </div>
                </div>
                     <div class="row">
                        {% for p in course %}
                        <div class="col-md-4 mb-4">
                            <div class="hover" style="border: 2px solid black;">
                        <!--<div class="myimg" style=" box-shadow:0px 0px 10px black ; background: url('/media/{{c.course_image}}');background-repeat: no-repeat; background-size: 100% 100%;">-->
                           <img src="/media/{{p.course_image}}" style=" box-shadow:0px 0px 10px black ;height: 150px; width: 100%; border:none" class="myimg">
                            <h2 class="text-center text-success"><a href="{% url 'single' %}?pid={{p.id}}"> {{p.course_name}}</a></h2>
                            <h4 class="text-center text-success">
                            <span><del>&#8377;{{p.course_price}}</del>
                             &#8377;{{p.sale_price}}</span><br>
                             
                             <strong>{{p.course_category.cat_name}}</strong>
                        </h4>
                        <form action="{% url 'cart' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{p.id}}" name="pid">
                            <input type="hidden" value="1" name="qty">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-shopping-cart text-white"></i> Add To Cart</button>
                        </form>
                     </div>
                    </div>
                        {% endfor %}
                </div>
          <div class="container-fluid bg1">
          <div class="row">
            <div class="col-md-4 my-5">
                <div class="card-header">
                    <img src="{% static 'image/c7.1.jpg' %}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body" style="background: white;">
<h3 class="card-title">To Know About Python</h3>
<p class="card-text" ><i class="far fa-user"></i> Andrew Mead</p>
<p><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                </div>
                <div class="card-footer" style="background:white">
                    <h2 style="color:green; float:right;">$180</h2>
                    <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    
                </div>
            </div>
            <div class="col-md-4 my-5">
                <div class="card-header">
                    <img src="{% static 'image/2.jpg' %}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body" style="background: white;">
<h3 class="card-title">Lets Design The Pages</h3>
<p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>

                </div>
                <div class="card-footer" style="background: white;">
                    <h2 style="color:green; float:right;">$10</h2>
                    <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p><i class="far fa-clock"></i> 27.5 hours</p>
                    
                </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="card-header">
                        <img src="{% static 'image/3.jpg' %}" class="card-img" alt="" style="height: 300px;">
                    </div>
                    <div class="card-body" style="background: white;">
    <h3 class="card-title">Design The Page By Writing</h3>
    <p class="card-text"> <i class="far fa-user"></i> Anthony Broks</p>
    <p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                    </div>
                    <div class="card-footer" style="background: white;">
                        <h2 style="color:green; float:right;">$375</h2>
                        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                        <p> <i class="far fa-clock"></i> 27.5 hours</p>
                        
                    </div>
                    </div>
        </div>
        <div class="row">
        <div class="col-md-4 my-5">
            <div class="card-header">
                <img src="{% static 'image/c6.1.jpg' %}" class="card-img" alt="" style="height: 300px;">
            </div>
            <div class="card-body" style="background: white;">
<h3 class="card-title">Layout The Design</h3>
<p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
            </div>
            <div class="card-footer" style="background: white;">
                <h2 style="color:green; float:right;">$180</h2>
                <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                <p> <i class="far fa-clock"></i> 27.5 hours</p>
    </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card-header">
            <img src="{% static 'image/4.jpg' %}" class="card-img" alt="" style="height: 300px;">
        </div>
        <div class="card-body" style="background: white;">
<h3 class="card-title">Enhance HTML Pages</h3>
<p class="card-text"> <i class="far fa-user"></i> Harry Poter</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
        </div>
        <div class="card-footer" style="background:white">
            <h2 style="color:green; float:right;">$249</h2>
            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
            <p> <i class="far fa-clock"></i> 27.5 hours</p>
    </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card-header">
            <img src="{% static 'image/7.jpg' %}" class="card-img" alt="" style="height: 300px;">
        </div>
        <div class="card-body" style="background: white;">
<h3 class="card-title">A High Level Language</h3>
<p class="card-text"> <i class="far fa-user"></i> Jonathan Deo</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
        </div>
        <div class="card-footer" style="background: white;">
            <h2 style="color:green; float:right;">Free</h2>
            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
            <p> <i class="far fa-clock"></i> 27.5 hours</p>
     </div>
     </div>
     </div>
     <div class="row">
         <div class="col-md-12 text-center">
            <button  class="btn btn-outline-success"><</button> <button  class="btn btn-outline-success">1</button> <button  class="btn btn-outline-success">2</button> <button  class="btn btn-outline-success">3</button> <button  class="btn btn-outline-success">4</button> <button  class="btn btn-outline-success">...</button> <button  class="btn btn-outline-success">32</button> <button  class="btn btn-outline-success">&gt;</button>
         </div>
     </div>
        </div>
        </div>
        </div>
        </div>
    
    {% endblock %}