<!DOCTYPE html>
{% load static %}
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pioneer Pyhton Project</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
    <script src="{% static  'jq/jqury.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
 
<head>
   

    <style>
        
                      
        body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:gray;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      #nav{
          position:sticky;
          top:0%;
         }
    
         h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .footer{
         background-color: rgba(0, 0, 0, 1);
            color:white;
           
            height:100px;
            Width:100%;
            line-height:100px;
     }
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0; border: none;
            color:white; padding: 10px; float:right;
           
        } 
       .icon i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icon i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
          .var{margin-bottom:107px;border:none;}
          .page{
              word-spacing: 10px;
          }
    </style>
    {% block head %}

    {% endblock %}


</head>
<body>
   <div class="container-fluid">
       <div class="row header p-2 bg-dark">
       <div class="col-sm-5">
       <nav>
        <i class="far fa-envelope"></i>
           <a href="">support@pioneerpython.com</a>
           <i class="fas fa-headphones"></i>
           <a href="">+8356896453475</a>
       </nav>
       </div>

        <div class="col-sm-3">
           <i class="fab fa-facebook-f"></i>
           <i class="fab fa-vimeo-v"></i>
           <i class="fab fa-linkedin-in"></i>
           <i class="fab fa-pinterest"></i>
                                       
       </div>
       {% if user.is_authenticated %}
            <a href="{% url 'instrau' %}" class=" nav-item text-light">Welcome {{user.username}}</a>
       {% else %}
        <div class="col-sm-4 page">
           <a class=" btn btn-outline-light mb-1 " href="{% url 'login' %}" >Login</a>
           <a class=" btn btn-outline-light mb-1 " href="{% url 'reg' %}" >Register</a>
    </div>
    {% endif %}
   </div>
   <div class="container-fluid">           
    <div class="row" id="nav">
        <div class="col-md-12" >
           <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a href="#" class="navbar-brand">
       <img src="{% static 'image/loggo1.jpg' %}" style="background: rgba(255, 255, 255, 0.9); height: 70px;">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
                  <a href="{% url 'home' %}" class="nav-item nav-link active text-dark">Home</a>
                  <a href="{% url 'aboutus' %}" class="nav-item nav-link active text-dark">About</a>
                  <a href="{% url 'contect' %}" class="nav-item nav-link active text-dark">Contact Us</a>
                  <a href="{% url 'edit' %}" class="nav-item nav-link active text-dark">Edit profile</a>
                  <a href="{% url 'course' %}" class="nav-item nav-link active text-dark"> Courses Profile</a>
                  <!--<a href="{% url 'single' %}" class="nav-item nav-link active text-dark"> Single Course</a>-->
                  <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </div>
</nav>
   </div>
</div>
   </div>
   {% block myblock %}
   {% endblock %}
   <div class="container-fluid text-muted " style="background:rgba(0, 0, 0, 0.9);">
    <div class="row">
        <div class="col-md-3">
            <h5><img src="{% static 'image/loggo1.jpg' %}" style="background: rgba(255, 255, 255, 0.9); height: 50px;">
                Logo</h5>
            <p class="text-justify">Pioneer Python is a website where anyone log in and register.This is developing under the sachtech. pvt.lmt mohli. all the copyrights and licene is valid  </p>
               <div class="icon">
                 <i class="fab fa-facebook-f"></i>
                 <i class="fab fa-vimeo-v"></i>
                 <i class="fab fa-linkedin-in"></i>
                 <i class="fab fa-pinterest"></i>                           
       
               </div>  
               </div>
          <div class="col-md-3">
              <h5>Contact Us</h5>
                 <a href=""><i class="fas fa-headphones"></i>127.0.0.1:8000</a><br/>
                  <a href=""><i class="far fa-envelope"></i>support@pioneerpython.com</a >
                    <p><i class="fas fa-map-marker-alt"></i>Sach Tech pvt.lmt<br/>Mohali,Punjab(India)</p>                        
          </div>
            <div class="col-md-3">
                <h5>Quick links</h5>
                <p><a href="{% url 'home' %}">Home</a></p>
                <p><a href="{% url 'aboutus' %}"">About </a></p>
                <p><a href="{% url 'contect' %}"">Contact Us</a></p>
                <p><a href="{% url 'course' %}"">All Courses</a></p>
                <p><a href="{% url 'single' %}"">Single Course</a></p>
            </div>
              <div class="col-md-3">
                   <h5>Newslatter</h5>
                   <p>Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                 <form class="var">
                   <input type="text" placeholder="Enter your email"style="padding:8px; position:absolute ;width:80%">
                    
                   <button type="submit">Subscribe</button>
               </form>
               </div>
              </div>
           </div>
       </div>
       <div class="container-fluid footer">
           <div class="col-md-12 align-center">
               <div class="footer text-center">& copyright 2020 .All rights reserved</div>
           </div>
       </div>
    </div>      
</div>
</div>
</html>
</body>

</html> 
   