{% extends "base.html" %}
{% load static%}
{% block head %}
    <style>
       .bg{
            background-image: url("/static/image/c1.3.jpg");
             background-size: 100% 100%; height:200px;
            color:white;
        }
        h2{
            padding-left: 60px; 
        }
        a{
          color:white;padding-left:60px;
        }
        a:hover{
            text-decoration: none; color:limegreen;
        }
        .link{
            color:black;
          
        }
      h1{
          text-align: center; margin-bottom: 40px; color:limegreen;margin-top: 40px;
      }
 .abcd{
              background:limegreen;border-radius: 50%;padding: 30px;font-size: 26px;
              color: white;
          }
          .abcdef{
            text-align:center; padding-top: 20px;
          }
          .abcde{
            padding-top: 25px;
          }
    </style>
    {% endblock %}
{% block myblock %}
    <div class="container-fluid mt-4"style="background:url(/static/image/p4.jpeg);background-size:100% 100%">
        <div class="row ">
            <div class="col-md-12">
                <h2 class="text-white p-4">Contact</h2>
                    <a class="text-white" href="{% url 'home' %}">home <i class="fas fa-angle-double-right text-white"></i> </a>
                    <a class="text-white" href="">page <i class="fas fa-angle-double-right text-white"></i> </a>
                    <a  class="text-white" href="">contact</a>
            </div>
        </div>
    </div>
    <div class="container shadow shadow-lg mt-4" style="padding-top:150px; padding-bottom: 100px;">
        <div class="row">
           <div class="col-md-3 text-center">
                <i class="fas fa-mobile-alt abcd"></i>
                <h4  class="abcde">1-800-643-4500</h4>
                <p  class="abcdef">call us (8AM-10PM)</p>
           </div>
           <div class="col-md-5 text-center">
                <i class="far fa-envelope abcd"></i>
                <h4 class="abcde"><a href="http://www.google.com" class="link">sumansahota4007@gmail.com</a></h4>
                <p  class="abcdef">call us (8AM-10PM)</p> 
           </div>
           <div class="col-md-4 text-center">
                <i class="fas fa-map-marker abcd"></i>
                <h4  class="abcde">New York Avenue, USA</h4>
                <p  class="abcdef">Unit 25 Suite 3, 925 Prospect
           </div>
        </div>
  </div>

    <div class="container bg-light mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>Send Message</h1>
            </div>
    <div class="col-md-6">                 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.05628356322!2d76.6924771151311!3d30.716818081642725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1583087112111!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
           <div class="col-md-6" >
              <form method="POST">
                  {% csrf_token %}
                    <div class="form-group a ">
                     <label for="">First Name</label>
                    <div class="input-group">
                     <input type="text" class="form-control" name="name" placeholder="Enter First Name">
 
                    </div>
                 </div>
                <div class="form-group">
                     <label for="">Contact Number</label>
                    <div class="input-group">
                       
                        <input type="number" name="contact" class="form-control" placeholder="Enter Contact number">
 
                    </div>
                 </div>
             
                 <div class="form-group">
                     <label for="">Subject</label>
                       <div class="input-group">
                        <input type="text" name="subject" class="form-control"  placeholder="Enter Subject" id="ram">
                        
 
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="">Message</label>
                   
                      
                       <textarea type="text" class="form-control" placeholder="Enter Message" name="message"></textarea>

                   </div>
                
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit" value="send message">send message</button>
                 </div>
                </form>
         </div>
         </div>
         </div>
        </div>
                    
    {% if status %}
    <script>
        alert("{{status}}");
    </script>
    {% endif %}                     
{% endblock %}                    
                     
                        