{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
<script src="{% static  'jq/jqury.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block myblock %}
{% if user.is_superuser %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbtron">
               <h3 class="bg-warning text-center">Sorry Mr./Miss {{user.username}} You Are Not Allowed</h3>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="container-fluid"style="background:">
    <div class="row">
        <div class="col-md-2 bg-dark py-5">
            <div class="text-center">
            {% if data.profile_pic %}  
            <img  src="/media/{{data.profile_pic}}"style="height:100px ;width:100px; border-radius:50%">
            {% else %}
            <img src="{% static 'image/profile.png' %}"style="height:100px ;width:100px; border-radius:50%">
             {% endif %}
        </div>
        <div>
           <nav class="navbar text-light">
             <a href=""class="navbar-breand text-white"></a>
                 <h3 class="mx-auto">{{user.username}}</h3>
           </div>

             <div class="nabver-nav nav-hover text-white mx-auto">
                 
                <a href="{% url 'instrau' %}" class="nav-item  p-3  text-white">Instrcution Profile <br></a>
            
                   <a href="{% url 'profile' %}" class="nav-item p-3  text-white">Student Profile<br></a>
                   <a href="{% url 'my_orders' %}" class="nav-item p-3  text-white">Order History<br></a>
                    <a href="" class="nav-item p-3  text-white">View Profile<br></a>
                    {% if user.is_staff %}
                    <a href="{% url 'addcourse' %}" class="nav-item p-3   text-white">Add Course<br></a>
                    <a href="{% url 'cart' %}" class="nav-item p-3   text-white">My Cart<br></a>
                    <a href="{% url 'mycourse' %}" class="nav-item p-3   text-white">All Course<br></a>
                    {% endif %}
                    <a href="{% url 'send_mail' %}"class="nav-item p-3   text-white">Sending-Email</a><br>
                        <a href="{% url 'edit' %}" class="nav-item p-3  text-white">Edit Profile<br></a>
                        <a href="{% url 're' %}"class="nav-item p-3  text-white">Reset Password<br></a>
                        <a href="{% url 'user_logout' %}"class="nav-item p-3  text-white">Log-out</a>
                        </div>
                    
                    </nav>
        </div>
       <div class="col-md-10">
 {% block dashboard %}

 {% endblock %}


{% endif %}
</div>
</div>
</div>
{% endblock %}