{% extends "dash_board.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6 mx-auto">
        <div class="card shadow shadow-lg">
                
                <div class="card-body">
                    <h4 class="text-warning">Are you sure to want to delete?</h4>
                    <img src="/media/{{course.course_image}}" alt="" height="200" width="100%">
                    <h4>{{course.course_name}}</h4>
                    <div>
                    <div class="mt-4">
                    <a class="btn btn-danger" href="{% url 'deletecourse' %}?pid={{course.id}}&&action=confirm">confirm delete</a>
                    <a class="btn btn-warning" href="{% url 'mycourse' %}">cancle</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    {% if status %}
                    <script>
                        alert("{{status}}")
                        window.location = "/mycourse"
                    </script>
                    {% endif %}
{% endblock %}
