{% extends "dash_board.html" %}
{% load static %}
{% block head %}  
    <style>
        .bg{
            background: url(/static/image/c1.3.jpg); background-size: 100% 100%
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
    </style>
{% endblock %}
{% block dashboard %}

    <div class="container-fluid bg">
        <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
            <div class="col-md-6">
                 <h1> Edit Profile</h1>
                 <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt;</p>
                </div>
                </div>
             </div>
             <div class="container-fluid bg1 my-5">
                <div class="row ">
                  <div class="col-md-4 my-5">
                      <div class="card-header" style="color:black;background: white;">
                        <div class="text-center">
                        {% if data.profile_pic %}  
                        <img src="/media/{{data.profile_pic}}" style="height:200px ;width:200px; border-radius:50%">
                        {% else %}
                        <img src="{% static 'image/profile.png' %}" style="height:150px;width:200px ; border-radius:50%">
                         {% endif %}
                        </div>
                      <h3 class="card-title text-center p-4">{{user.username}}</h3>
      <p class="card-text text-center" >{{data.occuption}}</p>
        <ul class="list-inline" style="word-spacing: 50px; margin-top: 40px;">
         <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
          <h4>Students</h4>
          <p>147560</p></li>
           <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
            <h4>Courses</h4>
            <p style="margin-left: 30px;">27</p></li>
               <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
                <h4>Reviwes</h4>
                <p>10467</p></li>
                </ul>
                   </div>
                      <div class="card-body" style="background:white">
                          <p>Email Address:</p>
                          <h4>{{user.email}}</h4>
                          <p>Phone:</p>
                          <h4>{{data.contact_number}}</h4>
                          <p>Location:</p>
                          <h4>{{data.city}}</h4>
                      </div>
                      <div class="card-footer" style="background: white;">
                      <p style="font-size:20px;">Social Profile</p>
                      <div style="font-size: 50px;word-spacing: 40px;">
                          <i  style="color: blue;" class="fab fa-facebook"></i>
                      <i style="color: skyblue;" class="fab fa-twitter-square"></i>
                      <i style="color: red;" class="fab fa-google-plus"></i>
                      <i style="color: turquoise;" class="fab fa-instagram"></i>
                    </div>
                      </div>
                  </div>
                      <div class="col-md-7 my-5">
                         
                        <div class="card-header bg-none">
                          
                          <form method="POST"enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4>Profile Pictrue</h4>
                        
                        <input type="file" class="form-control" name="profile">
                        </div>
                        <div class="card-body">
                            <h4>Manage Your Data</h4>
                               <div class="form-group p-3">
                                <labe>First Name </label>
                                <input type="text" class="form-control" placeholder="" name="fname" value="{{user.first_name}}">
                            </div>
                        
                            <div class="form-group">
                                 <label>Last Name</label>
                                 <input type=" email" class="form-control" placeholder="" name="last" value="{{user.last_name}}">
                            </div>
                            
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"value="{{user.email}}">
                              </div>
                              <div class="form-group">
                                <label>Contact</label>
                                <input type="number" class="form-control" placeholder="" name="contact" value="{{data.contact_number}}">
                           </div>
                           <div class="form-group">
                            <label>Age(in year)</label>
                            <input type="number" class="form-control" placeholder="" name="age"value="{{data.age}}">
                       </div>
                       <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="" name="city"value="{{data.city}}">
                   </div>
                   <div class="form-group p-3 ">
                    <label>Gender</label>
                    <select name="gender"  class="form-control"  id="">
                        <option value="male">Male</option> 
                        {% if data.gender == "Female" %}
                        <option value="female" selected>Female</option>
                        {% else %}
                    <option value="female">Female</option>
                        {%  endif %}
                        {% if data.gender == "Other" %}
                        <option value="other" selected>Other</option>
                        {% else %} 
                        <option value="other" selected>Other</option>
                        {%  endif %}
                    </select>
                    </div>
                   <div class="form-group p-3 ">
                    <label>occuption</label>
                    <input type="text" class="form-control" placeholder="" name="occup"value="{{data.occuption}}">
               </div>

                        </div>
                        <div class="card-footer">
                            <h4>About you</h4>
                            <textarea name="about" value="{{data.about}}" placeholder=""></textarea>

                        </div>
                        <button class="btn btn-success" type="submit" value="Save Changes"> Save Changes</button>
                    </form>  
                     </div>
                     </div>
                     </div>
                    </div> 
                    {% if status %}
                     <script>
                         alert("{{status}}");
                     </script>
                    {% endif %}    
                     
{% endblock %}            