{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
.back{
background: url(/static/image/11.jpg);background-size: 100% 100%;
 }  
.abcd{
     background: rgb(163, 216, 163);color: green;border-radius: 50%;padding: 30px;font-size: 26px;
 }
 .abcdef{
   text-align: justify; padding-top: 20px;
 }
 .abcde{
   padding-top: 25px;
 }
 .aa{
      background:  rgba(38, 170, 66, 0.7);
   }
   .aaa{
      background:  rgba(84, 53, 194, 0.692);
   }
 
   </style>

{% endblock %}
{% block myblock%}
 <div class="back">
<div class="row">
  <div class="col-md-12 text-center pt-5">
      <h4 class="text-success pt-4 mt-5">Learn a new skill online, on your time</h4>
      <h1 class="text-white wow display-4 font-weight-bold mt-4">An Expert for Every Goal </h1>
      <h4 class="text-white mt-4">Get Skills In business, teach and personal development</h4>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class=" text-center text-white mt-5 pt-2 mb-5">browse the faetured topics</h4>
        <div class="row text-center mb-5" >
          <div class="col-md-1"></div>
          <div class="col-md-2 bg-white text-center m-1 hover:parent" style="border-radius: 10px;">
            
            <i class="fas fa-desktop  mt-4 mb-1 text-success"  style="font-size: 40px;"></i>
            <h6 class="mb-4 mt-2 text-black " style="font-size: 25px;">web design</h6>
          </div>
          <div class="col-md-2 bg-white m-1 text-center"  style="border-radius: 10px;">
            <i class="fas fa-mobile text-success mt-4 mb-1" style="font-size: 40px;"></i>
            <h6 class="mb-5 mt-1 text-black"  style="font-size: 25px;">app development</h6>
          </div>
          <div class="col-md-2 bg-white m-1 text-center"  style="border-radius: 10px;">
            <i class="fas fa-chart-pie text-success mt-4 mb-1" style="font-size: 40px;"></i>
            <h6 class="mb-5 mt-1 text-black "  style="font-size: 25px;">data science</h6>
          </div>
          <div class="col-md-2 bg-white m-1 text-center"  style="border-radius: 10px;">
            <i class="fas fa-bullhorn  text-success mt-4 mb-1" style="font-size: 40px;"></i>
            <h6 class="mb-5 mt-1 text-black "  style="font-size: 25px;">seo</h6>
          </div>
          <div class="col-md-2 bg-white m-1 text-center"  style="border-radius: 10px;">
            <i class="fas fa-video  text-success mt-4 mb-1" style="font-size: 40px;"></i>
            <h6 class="mb-5 mt-1 text-black"  style="font-size: 25px;">photography</h6>
          </div>
          <div class="col-md-1"></div>
        </div>    
        </div>

      </div>
  </div>
</div>
</section>
<!-- 1st container end -->
<div class="bg-light" style="padding-top: 125px;padding-bottom: 100px;">
<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="card rounded " >
        
                      <img class="aaaa" src="{% static 'image/12.jpg' %}" style="height:200px;" alt="">  
            <div class="card-img-overlay text-center text-white aa">
                <p class="mt-4 lead ">Browse our</p>
                <h4 class="mt-4">top rated course</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded border-none">
            <img class="a" src="{% static 'image/p4.jpeg' %}"  style="height:200px;" alt="">
            <div class="card-img-overlay text-center text-white aaa">
                <p class="mt-4 lead">Browse our</p>
                <h4 class="mt-4">top rated course</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="a" src="{% static 'image/p6.jpeg' %}"  style="height:200px;" alt="">
            <div class="card-img-overlay text-center text-white aa">
                <p class="mt-4 lead">Browse our</p>
                <h4 class="mt-4">top rated course</h4>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--  2 END container -->


<div class="container" style="padding-top:150px; padding-bottom: 100px;">
<div class="row pb-5">
   <div class="col-md-4 text-center">
        <i class="far fa-bookmark abcd"></i>
        <h4  class="abcde">44,00 Online Courses</h4>
        <p  class="abcdef">We are provide more then 44,00 online courses.</p>
   </div>
   <div class="col-md-4 text-center">
        <i class="far fa-user abcd"></i>
        <h4 class="abcde">Expert Instruction</h4>
        <p  class="abcdef">Our trainers are Experts in his work. they are very hard working .</p> 
   </div>
   <div class="col-md-4 text-center">
        <i class="fas fa-trophy abcd"></i>
        <h4  class="abcde">Professional Certificates</h4>
        <p  class="abcdef">After completing online course priods then we are providing Certificates.</p>
   </div>
</div>
</div>
<!--3rd container end -->



<div class="container-fluid" style="padding-top:100px;padding-bottom: 100px; background:#3b3e79">
<div class="row">
<div class="col-md-12 mb-5 text-center">
  <h2 class="mb-4">Featured Courses
    </h2>
    <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;"></div>
</div>
<div class="col-lg-4 mt-5">
  <div class="card" style="border: 0ex;">
    <img class="rounded" src="{% static 'image/c7.1.jpg' %}" alt="">
    <div class="card-body">
      <!-- <a class="text-success" href="">Python</a> -->
      <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training For Begainers</h4></a>
      <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
      <p class="mt-2">
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <span class="text-dark mr-1">5  </span>
        <span style="color: lightslategray;">(4578)</span> 
      </p>
      <div class="border-top">
        <ul class="list-unstyled mt-4"  style="color:lightslategray">
          <li  class="mb-2"><i class="fas fa-headphones-alt mr-2"></i>   46  lectures</li>
          <li><i class="far fa-clock mr-2"></i>   27.5  hours</li>
        </ul>
        <h4><span class=" float-right mr-2 text-success">free</span></h4>
       </div>
  </div>
</div>
</div> 
<div class="col-lg-4 mt-5">
<div class="card" style="border: 0ex;">
  <img class="rounded" src="{% static 'image/c7.1.jpg' %}" alt="">
  <div class="card-body">
    <!-- <a class="text-success" href="">Python</a> -->
    <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training For Begainers</h4></a>
    <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
    <p class="mt-2">
      <i class="fas fa-star text-warning"></i>
      <i class="fas fa-star text-warning"></i>
      <i class="fas fa-star text-warning"></i>
      <i class="fas fa-star text-warning"></i>
      <i class="fas fa-star text-warning"></i>
      <span class="text-dark mr-1">5  </span>
      <span style="color: lightslategray;">(4578)</span> 
    </p>
    <div class="border-top">
      <ul class="list-unstyled mt-4"  style="color:lightslategray">
        <li  class="mb-2"><i class="fas fa-headphones-alt mr-2"></i>   46  lectures</li>
        <li><i class="far fa-clock mr-2"></i>   27.5  hours</li>
      </ul>
      <h4><span class=" float-right mr-2 text-success">free</span></h4>
     </div>
</div>
</div>
</div> 
<div class="col-lg-4 mt-5">
<div class="card" style="border: 0ex;">
<img class="rounded" src="{% static 'image/c7.1.jpg' %}" alt="">
<div class="card-body">
  <!-- <a class="text-success" href="">Python</a> -->
  <a href="" class="mt-2 text-black" ><h4 >Visual Basic Essential Training For Begainers</h4></a>
  <p class="mt-3" style="color:lightslategray"> <i class="far fa-user mr-2"></i>   John Doe, Anthony Brooks</p>
  <p class="mt-2">
    <i class="fas fa-star text-warning"></i>
    <i class="fas fa-star text-warning"></i>
    <i class="fas fa-star text-warning"></i>
    <i class="fas fa-star text-warning"></i>
    <i class="fas fa-star text-warning"></i>
    <span class="text-dark mr-1">5  </span>
    <span style="color: lightslategray;">(4578)</span> 
  </p>
  <div class="border-top">
    <ul class="list-unstyled mt-4"  style="color:lightslategray">
      <li  class="mb-2"><i class="fas fa-headphones-alt mr-2"></i>   46  lectures</li>
      <li><i class="far fa-clock mr-2"></i>   27.5  hours</li>
    </ul>
    <h4><span class=" float-right mr-2 text-success">free</span></h4>
   </div>
</div>
</div>
</div> 
 <div class=" col-md-12 text-center mt-5">
   <button class="btn btn-success p-2">All featured courses</button>
 </div> 
</div>
</div>
<!-- 4th container -->

<div class="container-fluid bg-cover "data-dark-overlay="6" style="background:url('{% static "image/c5.jpg" %}')"; background-size: 100%  100%; padding-top: 100px; padding-bottom: 75px;">
<div class="row text-align-center">
 <div class="col-md-1"></div>
 <div class="col-lg-5 mr-auto  text-white my-3">
      <h2>Trusted by Over
          <span class="text-success"> 25000+</span>
          Students & Organization Around the World!
      </h2>
      <button class="btn btn-success mt-3 p-2">Get Started Now</button>
 </div>

 <div class="col-lg-6">
      <div class="card m-3 float-left"style="height:90px; width:120px;">
           <img src="{% static 'image/g2.png' %}" alt=""style="height:100%; width:100%;">
      </div>
      <div class="card m-3 float-left"style="height:90px; width:120px;">
          <img src="{% static 'image/g3.png' %}" alt=""style="height:100%; width:100%;">
      </div>
      <div class="card m-3 float-left"style="height:90px; width:120px;">
          <img src="{% static 'image/g5.png' %}" alt=""style="height:100%; width:100%;">
      </div>
      <div class="card m-3 float-left"style="height:90px; width:120px;">
          <img src="{% static 'image/g6.png' %}" alt=""style="height:100%; width:100%;">
      </div> 
 </div>
</div>
</div>
<!-- 5th container -->



<div class="container-fluid bg-light" style="padding-top:100px;">
<div class="row">
  <div class="col-md-12  mb-5 text-center text-black">
       <h2 class="mb-4">Success Story
       </h2>
       <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;">
       </div>
  </div>
  <div class="col-md-12 text-center" style="width:690px; padding-bottom: 150px;">
       <div class="carousel slide" data-ride="carousel" id="caro">
            <!-- <ul class="carousel-indicators"> 
               <li data-target="caro" data-slide-to="0" class="active"></li>
               <li data-target="caro" data-slide-to="1"></li>
               <li data-target="caro" data-slide-to="2"></li>
            </ul>  -->
          <div class="carousel-inner">
             <div class="carousel-item active">
                 <img src="{% static 'image/c6.1.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
                 <h4 class="mt-4 font-primary">Lovedeep</h4>
                 <p class="mt-4" style="font-size:large">student</p>
                 <p class=" " style="text-align:center;font-size:x-large ">
                 I've been out of college for about two years, Educati has changed</br> my outlook on my career. Taking the foundational courses in</br> marketing has helped me launch my career.</p>
             </div>
             <div class="carousel-item">
              <img class="mx-3" src="{% static 'image/2.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
              <h4 class="mt-4 font-primary">Aniket</h4>
              <p class="mt-4" style="font-size:large">student</p>
              <p class=" " style="text-align:center;font-size:x-large">
                Poineer python  has been a valuable web development asset . They are extremely professional to work with, and their work displays their creative abilities and great attention to detail. They have exceeded my expectations when comes to their timely completion and delivery of web projects. I highly recommend Poineer python as a tutorial websites for your web solutions .</p>
              </div>
             <div class="carousel-item">
              <img src="{% static 'image/c6.3.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
              <h4 class="mt-4 font-primary">Noor</h4>
              <p class="mt-4" style="font-size:large">student</p>
              <p class=" " style="text-align:center;font-size:x-large ">
                I was able to increase my learning skills  by 40 percent!  I received from poineer python is unparalleled. To see that this websites  was able to create my vision on the web was incredible as they did not leave out any details and collaborated with me through the process to assure that I was completely satisfied. I highly recommend poineer python to everyone!</p>
              </div>
           </div>
      </div>
  </div>
</div>
</div>  
<!-- 6th container end -->

<div class="container-fluid" style="padding-top:100px;">
  <div class="row">
    <div class="col-md-12 mb-5 text-center">
      <h2 class="mb-4">Featured Courses
        </h2>
        <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;"></div>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card" style="border: 0ex;">
        <img class="rounded" src="{% static 'image/c7.1.jpg' %}" alt="">
        <div class="card-body px-0">
          <a class="text-success" href="">Python</a>
          <a href="" class="mt-2 text-black" ><h4 >Expand Your Programming Knowledge</h4></a>
          <p> 6 october, 2018 - by <a href="" class="text-success"> Abdulla</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card"  style="border: 0ex;">
        <img class="rounded" src="{% static 'image/c7.2.jpg' %}" alt="" height="225px" width="400px">
        <div class="card-body px-0">
          <a class="text-success" href="">Python</a>
          <a href="" class="mt-2 text-black" ><h4 >Expand Your Programming Knowledge</h4></a>
          <p> 6 october, 2018 - by <a href="" class="text-success"> Abdulla</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5">
      <div class="card"  style="border: 0ex;">
        <img class="rounded" src="{% static 'image/c7.3.jpg' %}" alt="" height="225px" width="400px">
        <div class="card-body px-0">
          <a class="text-success" href="">Python</a>
          <a href="" class="mt-2 text-black" ><h4 >Expand Your Programming Knowledge</h4></a>
          <p> 6 october, 2018 - by <a href="" class="text-success"> Abdulla</a></p>
        </div>
      </div>
    </div>
  </div>  
</div>
<!-- 7th container end -->

<div class="container-fluid" style="background:url(/static/image/c8.jpg);padding-top:100px; padding-bottom: 75px;">
  <div class="row">
      <div class="col-md-12 text-white text-center">
        <h3>Become an Instructor</h3>
        <p class="mt-4 lead"> Share your knowledge and reach millions of students across the globe.</br> Join the world's largest online learning marketplace</p>
          <button class="btn  text-info bg-light mb-3"><strong>Start Teaching</strong> </button>
      </div>
  </div>
  </div>
</div>
</div>

  {% if status %}
     <script>
       alert("{{status}}");
       window.location="/"
     </script>
  {% endif %}
  {% endblock %}