{% extends "dash_board.html" %}
{% load static %}
{% block dashboard %}
<div class="container-fluid">
<div class="row text-dark" style="background:url(/static/image/10.jpeg); padding: 30px 0px; background-size: 100% 100%;">
    <div class="col-md-6 px-3">
         <h1>Instructor Profile</h1>
         <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Instructor Profile</p>
        </div>
        </div>
     </div>
     

    
    <section class="paddingTop-50 paddingBottom-120 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mt-4">
            <div class="card shadow-v1">
              <div class="card-header text-center border-bottom pt-5 mb-4">
                
                {% if data.profile_pic %}  
                <img src="/media/{{data.profile_pic}}"style="height:150px ; width:150px; border-radius:50%">
                {% else %}
                <img src="{% static 'image/profile.png' %}"style="height:150px ; width:150px; border-radius:50%">
                 {% endif %}
               <h4>
                {{user.username}}
               </h4>
                <p>
                   {{data.occuption}}
                </p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item m-2">
                    <i class="far fa-user text-primary"></i>
                    <span class="d-block">Students</span>
                    <span class="h6">147570</span>
                  </li>
                  <li class="list-inline-item m-2">
                    <i class="fas fa-book-open text-primary" ></i>
                    <span class="d-block">Courses</span>
                    <span class="h6">27</span>
                  </li>
                  <li class="list-inline-item m-2">
                    <i class="far fa-star text-primary"></i>
                    <span class="d-block">Reviews</span>
                    <span class="h6">10467</span>
                  </li>
                </ul>
              </div>
              
                <div class="card-body" style="background:white">
                  <p>Email Address:</p>
                  <h4>{{user.email}}</h4>
                  <p>Phone:</p>
                  <h4>{{data.contact_number}}</h4>
                  <p>Location:</p>
                  <h4>{{data.city}}</h4>
              </div>
              
              <div class="card-footer">
               <p>
                 Social Profile:
               </p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-outline-facebook btn-outline-primary iconbox iconbox-sm">
                      <i class="fab fa-facebook " style=" color:white;  border-radius: 50%;"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-outline-twitter btn-outline-dark  iconbox iconbox-sm">
                      <i class="fab fa-twitter "style=" color:white; border-radius: 50%;"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-outline-google-plus btn-outline-danger iconbox iconbox-sm">
                      <i class="fab fa-google"style="  color:white;  border-radius: 50%;"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="btn btn-outline-linkedin btn-outline-primary iconbox iconbox-sm">
                      <i class="fab fa-linkedin text-dark"style="  color:white;  border-radius: 50%;"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- END col-md-4 -->
          <div class="col-lg-8 mt-4">
            <div class="card shadow-v1 padding-30">
              <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
               <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="{% url 'aboutus' %}" role="tab" aria-selected="true">
                  About
                </a>
               </li>
               <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tabs_1-2" role="tab" aria-selected="true">
                  Courses
                </a>
               </li>
               <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tabs_1-3" role="tab" aria-selected="true">
                  Reviews
                </a>
               </li>
               <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tabs_1-4" role="tab" aria-selected="true">
                  Message
                </a>
               </li>
               <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tabs_1-5" role="tab" aria-selected="true">
                  Settings
                </a>
               </li>
             </ul>
             
              <div class="tab-content ml-4 p-4">
                <div class="tab-pane fade show active" id="Tabs_1-1" role="tabpanel">
                 <h4>
                   Biography
                 </h4>
                 <p>
                  <p style="font-size: 20px;">{{user.first_name}} {{user.last_name}}, M.Ed., has been owner of Catalyst & Co. in Portland for the past 21 years. She has built trusting relationships and facilitated creative learning programs that deliver results for more than 200 clients and thousands of employees.</p>
                  <p style="font-size: 20px;">She holds a Bachelor of Science degree in Communication from James Madison University in Virginia, a Masters of Human Resource Education from Boston University, and a Certificate in Training Design and Delivery from Bryant College. She is also a qualified Myers Briggs Type Indicator instructor, and attends ongoing educational programs to strengthen her skills and keep abreast of current research. </p><hr>
               <hr class="my-4">
                  <div class="border-bottom mb-4 pb-4">
                   <h4 class="mb-4">
                     Experience
                   </h4>
                    <ul class="ec-timeline-portlet list-unstyled bullet-line-list">
                      <li class="ec-timeline-portlet__item mb-4">
                        <small>2000-2004</small>
                        <h6 class="mb-0">Full Stack Developer</h6>
                        <p class="mb-2">Apple Inc.</p>
                        <p>
                          <p style="font-size: 20px;">• Create automation that works on macOS and Linux servers.</p>
                          <p style="font-size: 20px;">• Build APIs and UIs that are simple and powerful.</p>
                          <p style="font-size: 20px;">• Understand product requirements, engage with team members and customers to define solutions, and estimate the scope of work required.</p>
                          <p style="font-size: 20px;">• Collaborate with, mentor, and influence members within your team and across other teams at Apple.</p>
                          <p style="font-size: 20px;">• Deliver solutions that can keep up with a rapidly evolving product in a timely fashion.</p>                        </p>
                      </li>
                      <li class="ec-timeline-portlet__item">
                        <small>2004-2018</small>
                        <h6 class="mb-0">Project Manager</h6>
                        <p class="mb-2">Google</p>
                        <p>
                          <p style="font-size: 20px;">Experience managing projects and using project management tools.</p>
                          <p style="font-size: 20px;">Proven track record working cross-functionally in a fast-paced environment to lead and drive complex initiatives globally.</p>
                          <p style="font-size: 20px;">Strong understanding of systems, operations, internal controls, requirements. documentation, testing, validation and program management.</p>
                           <p style="font-size: 20px;">Demonstrated ability to autonomously drive and prioritize multiple initiatives</p>
                           <p style="font-size: 20px;">Demonstrated ability to manage complex escalations in a timely and efficient manner, effectively balancing risks.</p><hr>                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="mb-4">
                   <h4 class="mb-4">
                     Education
                   </h4>
                    <ul class="ec-timeline-portlet list-unstyled bullet-line-list">
                      <li class="ec-timeline-portlet__item mb-4">
                        <small>2000-2004</small>
                        <h6 class="mb-0">Full Stack Developer</h6>
                        <p class="mb-2">Apple Inc.</p>
                        <p style="font-size: 20px;">These instructors advance their careers by seeking a tenured position as a college or university professor. Tenured professors are ensured more extensive due process in termination proceedings, providing some measure of protection for professors teaching or researching unpopular or politically incorrect subject matter. Tenure is often granted based on classroom performance, length of employment, continuing education and research activity.
                          Some 2-year colleges offer tenure to instructors who only have a master's degree, but 4-year colleges usually require tenure candidates to have doctorate degrees.</p>
                          Some 2-year colleges offer tenure to instructors who only have a master's degree, but 4-year colleges usually require tenure candidates to have doctorate degrees.
                          <p style="font-size: 20px;">Experience managing projects and using project management tools.</p>
                          <p style="font-size: 20px;">Proven track record working cross-functionally in a fast-paced environment to lead and drive complex initiatives globally.</p>
                          <p style="font-size: 20px;">Strong understanding of systems, operations, internal controls, requirements. documentation, testing, validation and program management.</p>
                           <p style="font-size: 20px;">Demonstrated ability to autonomously drive and prioritize multiple initiatives</p>
                           <p style="font-size: 20px;">Demonstrated ability to manage complex escalations in a timely and efficient manner, effectively balancing risks.</p><hr></p>
                      </li>
                      <li class="ec-timeline-portlet__item">
                        <small>2004-2018</small>
                        <h6 class="mb-0">Project Manager</h6>
                        <p class="mb-2">Google</p>
                        <p>
                          <p style="font-size: 20px;">Experience managing projects and using project management tools.</p>
                          <p style="font-size: 20px;">Proven track record working cross-functionally in a fast-paced environment to lead and drive complex initiatives globally.</p>
                          <p style="font-size: 20px;">Strong understanding of systems, operations, internal controls, requirements. documentation, testing, validation and program management.</p>
                           <p style="font-size: 20px;">Demonstrated ability to autonomously drive and prioritize multiple initiatives</p>
                           <p style="font-size: 20px;">Demonstrated ability to manage complex escalations in a timely and efficient manner, effectively balancing risks.</p><hr>                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane fade" id="Tabs_1-2" role="tabpanel">
                  <div class="row">
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border">
                       <span class="ribbon-badge font-size-sm bg-success text-white">Best selling</span>
                        <img class="card-img-top" src="{% static 'image/c7.1.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5">
                            The Web Developer Bootcamp
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Andrew Mead
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark">5</span>
                            <span>(4578)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="fas fa-headphones-alt"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="far fa-clock"></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5">
                            <span class="text-primary">$180</span>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border">            
                        <img class="card-img-top" src="{% static 'image/2.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5">
                            C++ Essential Training
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Andrew Mead, John Doe
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star-half"></i>
                            <span class="text-dark">4.9</span>
                            <span>(8793)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="fas fa-headphones-alt"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="far fa-clock "></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5 text-right">
                            <span class="text-primary d-block">$10</span>
                            <s class="small">$129</s>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border">
                        <img class="card-img-top" src="{% static 'image/python.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5">
                            Programming Real-World Examples
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Adam Kury
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="text-dark">3.4</span>
                            <span>(7)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="fas fa-headphones-alt"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="far fa-clock"></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5">
                            <span class="text-primary">$249</span>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6 mt-4">
                      <a href="page-course-details.html" class="card text-gray overflow-hidden height-100p shadow-v1 border shadow-v1">
                        <img class="card-img-top" src="{% static 'image/4.jpg' %}" alt="">
                        <div class="card-body">
                          <h4 class="h5">
                            Java 8 Essential Training
                          </h4>
                          <p class="my-3">
                            <i class="far fa-user mr-2"></i>
                            Anthony Brooks
                          </p>
                          <p class="mb-0">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <span class="text-dark">5</span>
                            <span>(4578)</span>
                          </p>
                        </div>
                        <div class="card-footer media align-items-center justify-content-between">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                              <i class="fas fa-headphones-alt"></i>
                              46 lectures
                            </li>
                            <li class="mb-1">
                              <i class="far fa-clock"></i>
                              27.5 hours
                            </li>
                          </ul>
                          <h4 class="h5">
                            <span class="text-success">Free</span>
                          </h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-12 text-center mt-5">
                      <a href="#" class="btn btn-icon btn-outline-primary">
                        <i class="fab fa-reload mr-2"></i>
                        Load More
                      </a>
                    </div> 
                  </div> 
                  </div> 
                  </div> 
                  </div> 
                  </div> 
                  </div> 
                  </div> 
                  </div> 
                </div>
              </div>
{% endblock %}                
  