{% extends "base.html"%}
{% load static %}

{% block myblock %}

<div class="container-fluid px-0 mt-4 "style="background:url(/static/image/h.jpg);background-size:100% 100%">
    <div class="row ">
        <!--<div class="col-md-6">
            <img class="p-3" src="{% static 'image/1.jpg' %}" style="width: 100%;" height="100%" alt="">    
           </div>-->
        <div class="col-md-6 bg-light mx-auto">
            <div class="form-group">
                <h2 class="h mt-3">Log In Here!</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6 my-3">
                <button class="btn btn-primary b1 btn-block"> <a class="text-white" href="http://facebook.com"> <i class="fab fa-facebook-square mr-1"></i>Sign In With Facebook</a></button>
            </div>
            <div class="col-md-6 my-3">
                <button class="btn btn-danger b1 btn-block"> <a class="text-white" href="http://google.com"> <i class="fab fa-google-plus-square mr-1"></i>Sign In With Google</a></button>
            </div>
            </div>
                <p class="p1 text-center mt-2">OR</p>
            </div>
           <div class="modal-body">
               <form  method="POST" onsubmit="return checkPassword(this)">
                {% csrf_token %}
                   <div class="form-group">
                    <label >User Name</label>
                   <div class="input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text">
                           <i class="fa fa-user" style="height: 10px;"></i>
                       </span> 
                    </div>
                    <input type="text" name="usernm" class="form-control" placeholder="Enter Your First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text mx-auto">
                            <i class="fa fa-key" style="height: 10px;"></i>
                        </span> 
                     </div>
                <input type="password" name="password1" class="form-control p-3"  placeholder="Enter Your Password" id="ram">
                </div>
                </div>
                <div class="form-group">
                 <input type="checkbox" name="remeberme"><label>Remember me</label>
                </div>
                <button class="btn btn-success btn-block mb-4">Log in</button>
                <div class="text-center mb-4">
                    <a class="text-success  p-4 " href="{% url 'forget' %}" style="font-size:large; font-family:cursive;">Forgot password</a>
                </div>
                <div class="text-center mb-4">
                    <a class=" text-center p-4 " href="{% url 'reg' %}"style="font-size:large; font-family:cursive;">No Account?<span class="text-success" style="font-size:large; font-family:cursive;">register </span></a>
                </div>
            </form>
            <div class="text-center mb-4">
                <span class="text-success  mx-auto mt-4 text-center" style="font-size:larger; font-family:cursive;">You Accpt Our Term</span> and <span class="text-success" style="font-size:larger; font-family:cursive;">conditions </span>
            </div>
        </div>
            </div>
     </div>
        </div>
</div>
<!--<script>
    function abcd(){
        v=document.getElementById("ram").type
        if(v=="password"){
        document.getElementById("ram").type="text"
        }
        else{
            document.getElementById("ram").type="password"
        }
    }
    
</script>
<script>
     function checkPassword(form) { 
            password1 = form.password1.value; 
            password2 = form.password2.value; 

             
            if (password1 == '') 
                alert ("Please enter Password"); 
                  
            
            else if (password2 == '') 
                alert ("Please enter confirm password"); 
                  
       
            else if (password1 != password2) { 
                alert ("\nPassword did not match: Please try again...") 
                return false; 
            } 

            
            else{ 
                alert("Password Match: Welcome to Our Site!") 
                return true; 
            } 
        } 

</script>--->
{% endblock %}