{% extends "dash_board.html" %}
{% load static %}
{% block dashboard %}
<div class="container-fluid" style="background:url(/static/image/b3.jpg);background-size: 100% 100%;">
    <div class="row ">
        <div class="col-md-12 mx-auto text-dark">
            <h2 class="text-center p-3">All Course ({{course|length}})</h2>
             <table class="table text-dark">
                 <thead>
                    <tr>
                        <th>Course Id</th>
                        <th>Course Name</th>
                        <th>Instructor</th>
                        <th>Course Image</th>
                        <th>Course Action</th>
                    </tr>
                 </thead>
                 <tbody>
                  {% for p in course %}
                  <tr>
                  <td>{{p.id}}</td>
                  <td>{{p.course_name}}</td>
                  <td>{{p.instructor_name}}</td>
                  <td><img src="/media/{{p.course_image}}" style="height: 60px;width: 80px;"></td>
                  <td>
                      <button class="btn btn-primary" data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye"></i>view</button> 
                      <a href="{% url 'updatecourse' %}?pid={{p.id}}" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</a>   
                      <a href="{% url 'deletecourse' %}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</button> 
                    </td>  
                </tr>
                <div class="modal text-dark" id="m{{p.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                        <h4 >Course Details</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <img src="/media/{{p.course_image}}" height="200px" width="100%">
                          <h2><a href="{% url 'single' %}?pid={{p.id}}">{{p.course_name}}</a></h2>
                         <h2>{{p.course_category.cat_name}}</h2>
                         <p>
                            <del>&#8377;{{p.course_price}}</del> 
                             <strong>&#8377;{{p.sale_price}}</strong>
                         </p>
                         <p>
                             {{p.course_details}} <br>
                         </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'single' %}?pid={{p.id}}" class="btn btn-success">View detail</a>
                        </div>
                    </div>
                </div>
                </div>
                  {% endfor %}
                 </tbody>
             </table>
            </div>
            </div>
            </div>
            </div>
            
{% endblock %}            