{% extends "dash_board.html" %}
{% load static %}
{% block dashboard %}
<div class="container-fluid" style="background:url(/static/image/b1.jpg);background-size: 100% 100%;">
    <div class="row ">
        <div class="col-md-6 mx-auto text-white">
               <h1>Dashboard &gt; Order History</h1>

            </div>
            <div class="col-md-12">
                {% for i in order_history %}
                <div class="card my-3">
                    <div class="card-header">
                        <strong class="float-left text-success p-2">Order ID : {{i.order_id}}</strong>
                        <em class="float-right text-success">Processed On :{{i.date}}</em>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-bordered table-striped">
                        {% for j in i.course %}
                          <tr>
                              <td>
                                  <img class="mt-3" src="/media/{{j.course_image}}" width="200" height="100" alt="">
                              </td>
                              <td><h4>{{j.course_name}}</h4></td>
                              <td><h4>&#8377;{{j.sale_price}}</h4></td>
                              <td><a href="{% url 'single' %}?pid={{j.id}}" target="_blank" class="btn btn-success mx-2"><i class="fa fa-eye text-light"></i>View</a></td>
                          </tr>
                        {% endfor %}
                    </table>
                    </div>
                    <div class="card-footer">
                        <table class="table">
                            <tr>
                                <th>INVOICE ID :</th>
                                <td>{{i.invoice}}</td>
                                <th>STATUS</th>       
                              <td>
                                    {% if i.status %}
                                     <button class="btn btn-success btn-block "><i class="fa fa-check text-light"></i> Success</button>
                                    {% else %}
                                     <button class="btn btn-danger btn-block">&times; Pending</button>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% endfor %} 
            </div>
     </div>
</div>
</div>
{% endblock %}