{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid" >
    <div class = "col-md-6 mx-auto  text-center my-2 py-5" style="box-shadow:0px 0px 10px black;">
    <img src="{% static 'image/wrong.gif' %}" height="200" width="50%" alt="">
    <br>
    <h1 class="alert alert-danger rounded-pill mt-3">PAYMENT FAILED</h1>
    <div class="my-3">
        <a class="text-light btn btn-success p-2 rounded-pill" style="font-size: x-large;" href="{% url 'cart' %}">Countinue Shopping</a><br>
        <a class="text-light btn btn-warning mt-3 p-2 rounded-pill" style="font-size: x-large;" href="{% url 'profile' %}">Go to Dashboard</a>
    </div>
    </div>
</div>
</div>
{% endblock %}