{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class = "col-md-6 mx-auto  text-center my-5 py-5" style="box-shadow:0px 0px 10px black;">
    <h2 class="text-uppercase text-center my-3" style="font-family: Impact; font-size: xx-large;">click here to pay</h2>
        {{form.render}}
    </div>
</div>
/</div>
{% endblock %}