{% extends "base.html"%}
{% load static %}

{% block myblock %}

<div class="container bg-light  mb-4">
    <div class="row ">
        <div class="col-md-6 px-0">
         <img class="p-4" src="{% static 'image/10.jpeg' %}" style="width: 100%;" height="100%" alt="">    
        </div>
        <div class="col-md-6 bg-light mt-4">
            <div class="form-group">
                <h2 class="h">Sign Up Here And Start Learning!</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6 ">
                <button class="btn btn-primary btn-block"><i class="fab fa-facebook-square"></i>Sign In With Facebook</button>
                </div>
             <div class="col-md-6 my-3">
                <button class="btn btn-danger b1 btn-block"><i class="fab fa-google-plus-square mr-1"></i>Sign In With Google</button>
                </div>
                </div>
                <p class="p1 text-center mt-4">OR</p>
            </div>
           <div class="modal-body">
               <form method="POST" onsubmit="return checkPassword(this)">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                    <label for="">First Name</label>
                   <div class="input-group">
                   <input type="text" class="form-control" name="first" placeholder="Enter Your First Name">
                </div>
                    </div>
                <div class="col-md-6">

                   <label for="">Last Name</label>

                   <input type="text" class="form-control" name="last" placeholder="Enter Your Last Name"> 
                </div>
                </div>
                <div class="form-group">
                     <small id="result"></small>
                </div>
                <div class="form-group a ">
                    <label for="">User name</label>
                   <div class="input-group">
                                 
                    <input type="text" class="form-control" name="uname" id="username" placeholder="Enter user Name" onkeyup="checkuser()">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Enter Your E-mail</label>
                   <div class="input-group">
                      
                    <input type="email" class="form-control" name="email" placeholder="Enter Your E-mail Here">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Contact No.</label>
                   <div class="input-group">
                      
                       <input type="number" class="form-control" name="contact" placeholder="Enter Your Mobile No.">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    
                      <div class="input-group">
                       <input type="password" name="password1"  class="form-control"  placeholder="Enter Your Password">
                       <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button>
                    </div>
                </div>
                </div>
            
                <div class="form-group">
                    <label for="">Confirm Password</label>
                   
                    <div class="input-group">
                        <input type="password" name="password2" placeholder="Please Re-Enter Your Password Here" class="form-control"> <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button></div>
                    </div> 
                    </div>
                
                <div>
                    <label for="">User Type</label>
                    <select name="utype" class="form-control" id="">
                        <option value="teach">i am Teacher</option>
                        <option value="stu">i am Student</option>
                    </select>
                </div>
               
                <button class="btn btn-success btn-block mt-4"id="submitbtn" value="sign up">Create Account</button>
               </form>
               <div>
                <a class=" text-center p-4 " href="{% url 'login' %}"style="font-size:large; font-family:cursive;">Already have Account!   <span class="text-success" style="font-size:large; font-family:cursive;">Log In</span></a>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkuser(){
        let um = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:um},
            success:function(data){
                if(data=="exists"){
                    $("#result").html("this user name already taken").addClass("text-danger");
                    $("#username").addClass("bg-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("#username").removeClass("bg-danger")
                }
            }
        })
    }
</script>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>
{% endif %}
</div>
{% endblock %}