{% extends "dash_board.html" %}
{% load static%}
{% block dashboard %}
<div class="container" style="background: url(/static/image/b.jpg); background-size:100% 100%">
<div class="row">
    <div class="col-md-7 mx-auto">
        <form method="POST">
            {% csrf_token%}
     <div class="pt-5" style="font-family:cursive;font-weight:200;">
      <h3 class>Get Your Password !!</h3>
     </div>
       {% if message %}
  <div class="alert {{col}}">{{message}}</div>
       {% endif %}
    
        <div class="form-group p-3">
          <label>Current Password</label>
          
          <input type="password" name="odpass" id="opass" placeholder="Old Password"class="form-control" >
        </div>
        <div class="form-group p-3">
        <label>New Password</label>
          
          <input type="password" name="nwpass" id="npass"  placeholder="New Password"class="form-control"onkeyup="check_pass()">
        </div>
        <div class="form-group p-3">
        <label>Confirm Password</label>
        
          <input type="password" name="copass" id="cpass" placeholder="Confirm Password"class="form-control" onkeyup="check_pass()">
        </div>
<div class="form-group p-3">
<input type="submit" value="Reset password" id="sbbtn" class="btn btn-success">
</div>
      </form>
    </div>
</div>
</div>
</div>
</div>
<script>
    function check_pass(){
        let p = $("#npass").val();
        let cp = $("#cpass").val();
        if(p==cp){
            $("#npass").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#cpass").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");
        }else{
            $("#npass").removeClass("alert alert-success").addClass("alert alert-success");
            $("#cpass").css("border","1px solid ").addClass("alert alert-success");
            $("#sbbtn").attr("disabled","disabled");
        }
    }
</script>
    
{% endblock %}