{% extends "dash_board.html" %}
{% load static %}
{% block head %}
<style>
    .bg-img
{background: url("static/image/d7.jpg");background-size: 100% 100%;}
</style>
{% endblock %}
{% block dashboard %}
<div class="container">
<div class="row">
    <div class="col-md-12 bg-img py-5 text-center text-light">
        <h1>Dashboard &gt;Send Email</h1>
    </div>
    <div class="col-md-6 p-3 mt-3  mb-3 bg-light mx-auto shadow shadow-lg">
        {% if status %}
            <div class="alert alert-{{cls}}">{{status}}</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">To   :</label>
                <input type="text" name="to" placeholder="">
            </div>
            
            <div class="form-group">
                <label for="">subject :</label>
                <input type="text" name="sub" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Message :</label>
                <textarea name="msz" id="" cols="5" rows="5" class="form-control"></textarea>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Send Email" class="btn btn-outline-success rounded-pill">
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
