{% extends "dash_board.html" %}
{% load static%}
{% block dashboard %}
<div class="container-fluid">
<div class="row mt-1 p-2 mx-3">
    <div class="col-md-12 bg-dark">
        <h2 class="text-white">My Profile</h2>
       <ol class="breadcrumb breadcrumb-double-angle list-inline 
       text-white bg-transparent p-0" style="float: left;">
        <li class="list-inline-item">Home >></li>
        <li class="list-inline-item">Page >></li>
        <li class="list-inline-item">MY Profile</li>
        </ol>
</div>
</div>
</div>
<div class="container mt-5">
<div class="row">
<div class="col-md-4">
<div class="card  shadow shadow-lg">
    <div class="card-header text-center bg-white">
        <div class="text-center">
            {% if data.profile_pic %}  
            <img src="/media/{{data.profile_pic}}"style="height:150px ;width:150px; border-radius:50%">
            {% else %}
            <img  src="{% static 'image/profile.png' %}"style="height:150px ; border-radius:50%">
            {% endif %}
            
        </div>
        <div>
        <h4 >{{user.username}}<br></h4>
        
        <ul class="list-inline mb=0">
            <li class="list-inline-item m-2">
                <i class="fas fa-shopping-cart text-success"></i><br>
                <span>Courses Order</span>
                <h5 class="text-dark">35</h5>
            </li>
            <li class="list-inline-item m-2">
                <i class="far fa-heart text-success"></i><br>
                <span>Wishlist</span>
                <h5 class="text-dark">27</h5>
            </ul>
            </div>
           </div>
    <div class="card-body" style="background:white">
        <ul class="list-unstyled">
            <li class="mb-3">
                
                    <p>Email Address:</p>
                    <h4>{{user.email}}</h4>
                    <p>Phone:</p>
                    <h4>{{user.contact_number}}</h4>
                    <p>Location:</p>
                    <h4>{{data.city}}</h4>
                </div>
    <div class="card-footer bg-white">
           <p>Social Profile :</p>
        <br>
           <a class=" hover:primary bg-primary text-white  rounded-circle btn btn-facebook iconbox iconbox-sm"href="http://facebook.com">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="bg-info p-2 btn btn-twitter rounded-circle text-white iconbox iconbox-sm hover:info"href="http://twitter.com">
        <i class="fab fa-twitter-square" ></i>
    </a> 
    <a class="btn btn-google iconbox p-2 iconbox-sm bg-danger text-white rounded-circle hover:danger"href="http://google.com">
        <i class="fab fa-google"></i>

    </a> 
    <a class="bg-info p-2 btn btn-pinterest iconbox text-white iconbox-sm hover-danger rounded-circle"href="http://pinterest.com">
        <i class="fab fa-pinterest-p" ></i>
    </a>
    </div>
    </div>
    </div>
    
<div class="col-md-8 mt-2">
<div class="card shadow shadow-lg">
    <div class="card-header bg-white">
        <ul class="nav tab-line border-bottem" role="tablist">
            <li class="nav-item">
<a class="nav-link active text-success" data-toggle="tab" href="{% url 'purchaselist' %}" role="tab" aria-selected="true"> <b> purchase Courses</b></a>
            </li>
            <li class="nav-item">
<a class="nav-link active text-success" data-toggle="tab" href="{% url 'wishlist' %}"role="tab"><b>Wishlist</b></a>
            </li>
        </ul>
     
    </div>
<div class="card-body">
<div class="my-3 mb-4">
<table class="table table-bordered fade show active">
<thead>
<tr>
    <th>Order Id</th>
    <th>price</th>
     <th>Data</th>
     <th>Action</th>
</tr>
</thead>
<tbody>
    <tr>
<th class="text-dark font-weight-semiBold">#00004673</th>
<td>01 Aug 2018</td>
<td>$49</th>
<td class="text-success"> <b> View</b></td>
</tr>
<tr>
    <th>#05604673</th>
    <td>07 Aug 2018</td>
    <td>$300</td>
    <td class="text-success"> <b> View</b></td>
    </tr>
    <tr>
        <th>#0704673</th>
        <td>16 Aug 2018</td>
        <td>$34</td>
        <th class="text-success"> <b> View</b></td>
        </tr>
        <tr>
            <th class="text-dark">#06454673</th>
            <td> 24 Aug 2018</td>
            <td>$10</td>
            <th class="text-success"> <b> View</b></td>
            </tr>
            <tr>
                <th class="text-dark mb-3">#0000435</th>
                <td>28 Aug 2018</td>
                <td>$199</td>
                <td class="text-success"> <b> View</b></td>
                </tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}