{% extends "dash_board.html" %}
{% load static %}
{% block dashboard %}
<div class="container-fluid" style="background:url(/static/image/13.jpg);background-size: 100% 100%;">
    <div class="row ">
        <div class="col-md-7 mx-auto text-dark">
            <h2 class="text-center p-3">Update Course</h2>
           <div class="card">
                <div class="card-header text text-center">
                   <img src="/media/{{course.course_image}}" height="200px" width="475px">
                   <input type="file" class="form-control mt-2" name="pimg">
                </div>
                <div class="card-body">
                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="row p-2">
                         <div class="col-md-6">
                             <label for="">Course Name</label>
                             </div>
                             <div class="col-md-6">
                             <input type="text" class="form-control"name="cname" value="{{course.course_name}}">
                         </div>
                     </div>
                     <div class="row p-2">
                        <div class="col-md-6">
                            <label for=""> Course Category</label>
                            </div>
                            <div class="col-md-6">
                            <select name="cocat" id="" class="form-control">
                                {% for c in category %}
                                    {% if c.id == course.course_category.id %}
                                    {% else %}
                                <option value="{{c.id}}" selected>{{c.cat_name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6">
                            <label for="">Course Price</label>
                            </div>
                            <div class="col-md-6">
                            <input type="number" class="form-control" name="cpri" value="{{course.course_price}}">
                        </div>
                    </div>
                    <div class="row p-2">
                    <div class="col-md-6">
                        <label for="">Sale Price</label>
                        </div>
                        <div class="col-md-6">
                        <input type="number" class="form-control"name="psale" value="{{course.sale_price}}">
                    </div>
                </div>
                <div class="row p-2">
                <div class="col-md-6">
                    <label for="">Course details</label>
                    </div>
                    <div class="col-md-6">
                    <textarea class="forn-control" name="des" id="" value="{{course.course_details}}"></textarea>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success" value="Update course">
                </div>
            </div>
                 </form>
                </div>
            </div>
            </div>
            </div>
            </div>
            {% if status %}
            <script>
                alert("{{status}}");
                window.location ="/updatecourse?pid={{id}}";
            </script>
            {% endif %}
{% endblock %}